<main class="main">
  <img
  class="main__image"
  src="./assets/images/libros-cba.jpeg"
  alt="image-books">

 <h1 class="main__h1">myLib</h1>

<form 
 action="https://adalab-server-form.herokuapp.com/" 
 method="get" 
 class="main__form"> 

    <label for="book"> Title or author</label>
     <input 
     type="text" 
     id="book" 
     name="book_name" 
     placeholder="Ex: Agatha Christie"
     required>


 <label for="submit"></label>
     <input 
     type="submit" 
     value="Find my book!"
     >
 
 </form>
</main>
