<main class="page__main">
  <img
  class="image-books"
  src="./assets/images/libros-cba.jpeg"
  alt="image-books">

 <h1 class="h1">myLib</h1>

  <form 
 action="https://adalab-server-form.herokuapp.com/" 
 method="get" 
 class="form"> 

 <div>
     <label for="book"> Title or author</label>
     <input 
     type="text" 
     id="book" 
     name="book_name" 
     placeholder="Ex: Agatha Christie"
     required>
 </div>

 <label for="submit"></label>
     <input 
     type="submit" 
     value="Find my book!"
     >
 
 </form>
</main>
