.main{
    background-color: black;
    height: 60%;
        &__form{
        padding-left: 20px;
        padding-top: 60px;
        }
            &__form--labelTitle{
            color: white;
            font-size: 20px;
            }
            &__form--inputTitle{
            border:none;
            font-size: 15px;
            }
            &__form--inputSearch{
            background-color: lightcoral;
            border:none;
            font-size: 15px;
            margin-top: 10px;
            }
    }