.body{
    width: 100%;
    background-color: black;
    background-image: url(../images/books.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
}

.main{
    height: 97vh;
      &__form{
      margin-top: 75px;
      margin-left: 20px;
      }
        &__form--labelTitle{
        color: white;
        }
        &__form--inputSearch{
            background-color: lightcoral;
            border:none;
        }
    }