<main class="page__main">

  <form 
    action="" 
    method="get" 
    class="main__form">
 
    <div>
      <label 
          for="title"
          class="main__form--labelTitle"> Title or author
      </label>
      <input 
          type="text" 
          id="title" 
          name="title" 
          placeholder=" Ex: Agatha Christie"
          class="main__form--inputTitle inputTitle_js">
    </div>
 
    <div>
      <label 
          for="submit"
          class="main__form--labelSearch">
      </label>
              <input 
                  type="button" 
                  value="Find my book!"
                  class="main__form--inputSearch inputSearch_js">
  </div>
</form>
<span class="span_ul">
<ul class="ul_books_js"></ul>
</span>
  
 
</main>
