
@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';

:root{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body{
    width: 100%;
    background-color: black;
    background-image: url(../images/books.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
}